@import "bootstrap.css";
@import "datepicker.css";
@import "leaflet.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --bg-app-dark: #193D4A;
  --border-color: #336273;
  --app-text: white;
}

.App {
  text-align: center;
  height: 100%;
  background-color: var(--bg-app-dark);
  color: white;
  accent-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-datepicker__input-container input {
  width: 100%;
  height: 44px;
}

input.stay-days {
  width: 100%;
  height: 44px;
}

.white-theme {
  color: #FFFFFF;
}

.preset-badge {
  border: 1px solid var(--border-color);
  border-radius: 50rem;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 0.5rem 0.15rem;
  font-size: 0.9rem;
}

.expand-bar {
  height: 100%;
  background-color: #282c34;
  width: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.right-column {
  overflow-y: hidden;
  height: 100vh;
  padding: 5rem 1rem 0;
  min-width: 14rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}