
.actionStates {
    position: absolute;
    right: 1.1rem;
    top: 0;
    cursor: pointer;
}

.input {
    height: 1.18rem;
    padding: 0;
    border-bottom: 1px solid white;
    /* border: none; */
    font-weight: bold;
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 0;
    outline: none;
    font-size: 1rem;
}

/* Target the search input field */
.emoji-picker-react .epr-search {
    background-color: rgba(27, 64, 77, 1) !important; /* Change the background color */
    color: white !important; /* Change the text color */
    border: 1px solid rgba(255, 255, 255, 0.7) !important; /* Add a border */
  }
  
  /* Target the category titles */
  .emoji-picker-react .epr-emoji-category-label {
    background-color: rgba(27, 64, 77, 1) !important; /* Change the background color */
    color: white !important; /* Change the text color */
  }