.modalBody {
    --bg-dark-green: #0B1C22;
    background-color: var(--bg-dark-green);
    border-radius: 1.2rem;
    color: #ffffff;;
}

.basisFlex {
    flex-basis: 45%;
}

.coverImage {
    width: 100%;
    object-fit: cover;
    max-height: 12rem;
    height: 100%;
    border-radius: 0.8rem;
    position: relative;
    cursor: pointer;
}

.coverImageShadow {
    cursor: pointer;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 1;
    transition: all 0.3s ease-in;
    border-radius: 0.8rem;
}


.coverImageShadow:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.avatarIcon {
    background-color: #0d6efd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.avatarWrapper {
    position: absolute;
    bottom: -1rem;
    z-index: 10;
    left: 1.5rem;
}


.fs7 {
    font-size: 0.85rem;
}
